<nav>

  <a href="/" class="nav-icon" aria-label="homepage" aria-current="page">
    <img class="img-icon" src="../ressources/coupe.webp" alt="coupe">
    <span class="main_title">Mon Tournoi</span>
  </a>
  <div class="main nav-links ">
    <a href="/">Les Jeux</a>
    <a href="/tournoi">Les Tournois</a>
    <a href="/chercheUneTeam">Cherche une Team</a>
  </div>


  <div class="dropdown">
    <button class="dropbtn"> <img src="../ressources/user.webp" height="25" width="20" />
    </button>
    <div class="dropdown-content">
      <a href="/connection">Connection</a>
      <a href="/inscription">Inscription</a>
    </div>
  </div>

</nav>