<nav>
  <a href="#" class="nav-icon" aria-label="homepage" aria-current="page">
    <img class="img-icon" src="../ressources/coupe.webp" alt="coupe">
    <span class="main_title">Mon Tournoi</span>
  </a>
  <div class="main nav-links ">
    <a href="#">Les Jeux</a>
    <a href="#">Les Tournois</a>
    <a href="#">Cherche une Team</a>
  </div>


  <div class="dropdown">
    <button class="dropbtn"> <img src="../ressources/user.webp" height="25" width="20" />
    </button>
    <div class="dropdown-content">
      <a href="#">Connection</a>
      <a href="#">Inscription</a>
    </div>
  </div>


</nav>


<div class="cards">
  <div class="card">
    <div class="card_img"></div>
    <div class="card_text">
      <ul class="tags">
        <li class="tag">5v5</li>
        <li class="tag">1v1</li>
        <li class="tag">2v2</li>
      </ul>

      <h6 class="genre">MOBA</h6>
      <h4 class="title">DOTA 2</h4>
      <p>résumé du truc ou palmarès</p>
    </div>

    <div class="card_infos">
      <div class="info">
        <i class="fas fa-check"></i>
        <span>100</span>
      </div>
      <div class="info">
        <i class="fas fa-thumbs-up"></i>
        <span>200</span>
      </div>
      <div class="info">
        <i class="fas fa-comments"></i>
        <span>33</span>
      </div>

    </div>
  </div>
  <div class="card">
    <div class="card_img"></div>
    <div class="card_text">
      <ul class="tags">
        <li class="tag">5v5</li>
        {{!-- <li class="tag">1v1</li>
        <li class="tag">2v2</li> --}}
      </ul>

      <h6 class="genre">FPS tactique</h6>
      <h4 class="title">Valorant</h4>
      <p>résumé du truc ou palmarès</p>
    </div>

    <div class="card_infos">
      <div class="info">
        <i class="fas fa-check"></i>
        <span>100</span>
      </div>
      <div class="info">
        <i class="fas fa-thumbs-up"></i>
        <span>200</span>
      </div>
      <div class="info">
        <i class="fas fa-comments"></i>
        <span>33</span>
      </div>

    </div>
  </div>
  <div class="card">
    <div class="card_img"></div>
    <div class="card_text">
      <ul class="tags">
        <li class="tag">1v1</li>
        <li class="tag">2v2</li>
        <li class="tag">4v4</li>
      </ul>

      <h6 class="genre">FootBall</h6>
      <h4 class="title">Mario Strikers : BLF</h4>
      <p>résumé du truc ou palmarès</p>
    </div>

    <div class="card_infos">
      <div class="info">
        <i class="fas fa-check"></i>
        <span>100</span>
      </div>
      <div class="info">
        <i class="fas fa-thumbs-up"></i>
        <span>200</span>
      </div>
      <div class="info">
        <i class="fas fa-comments"></i>
        <span>33</span>
      </div>

    </div>
  </div>
  <div class="card">
    <div class="card_img"></div>
    <div class="card_text">
      <ul class="tags">
        <li class="tag">1v1</li>
        <li class="tag">2v2</li>
      </ul>

      <h6 class="genre">Combat</h6>
      <h4 class="title" Super Smash Bros Ultimate</h4>
        <p>résumé du truc ou palmarès</p>
    </div>

    <div class="card_infos">
      <div class="info">
        <i class="fas fa-check"></i>
        <span>100</span>
      </div>
      <div class="info">
        <i class="fas fa-thumbs-up"></i>
        <span>200</span>
      </div>
      <div class="info">
        <i class="fas fa-comments"></i>
        <span>33</span>
      </div>

    </div>
  </div>
</div>