{{> header}}

<div class="cards">
  <div class="card">
    <div class="card_img"></div>
    <div class="card_text">
      <ul class="tags">
        <li class="tag">5v5</li>
        <li class="tag">1v1</li>
        <li class="tag">2v2</li>
      </ul>

      <h6 class="genre">MOBA</h6>
      <h4 class="title">DOTA 2</h4>
      <p>résumé du truc ou palmarès</p>
    </div>

    <div class="card_infos">
      <div class="info">
        <i class="fas fa-check"></i>
        <span>100</span>
      </div>
      <div class="info">
        <i class="fas fa-thumbs-up"></i>
        <span>200</span>
      </div>
      <div class="info">
        <i class="fas fa-comments"></i>
        <span>33</span>
      </div>

    </div>
  </div>
  <div class="card">
    <div class="card_img"></div>
    <div class="card_text">
      <ul class="tags">
        <li class="tag">5v5</li>
        {{!-- <li class="tag">1v1</li>
        <li class="tag">2v2</li> --}}
      </ul>

      <h6 class="genre">FPS tactique</h6>
      <h4 class="title">Valorant</h4>
      <p>résumé du truc ou palmarès</p>
    </div>

    <div class="card_infos">
      <div class="info">
        <i class="fas fa-check"></i>
        <span>100</span>
      </div>
      <div class="info">
        <i class="fas fa-thumbs-up"></i>
        <span>200</span>
      </div>
      <div class="info">
        <i class="fas fa-comments"></i>
        <span>33</span>
      </div>

    </div>
  </div>
  <div class="card">
    <div class="card_img"></div>
    <div class="card_text">
      <ul class="tags">
        <li class="tag">1v1</li>
        <li class="tag">2v2</li>
        <li class="tag">4v4</li>
      </ul>

      <h6 class="genre">FootBall</h6>
      <h4 class="title">Mario Strikers : BLF</h4>
      <p>résumé du truc ou palmarès</p>
    </div>

    <div class="card_infos">
      <div class="info">
        <i class="fas fa-check"></i>
        <span>100</span>
      </div>
      <div class="info">
        <i class="fas fa-thumbs-up"></i>
        <span>200</span>
      </div>
      <div class="info">
        <i class="fas fa-comments"></i>
        <span>33</span>
      </div>

    </div>
  </div>
  <div class="card">
    <div class="card_img"></div>
    <div class="card_text">
      <ul class="tags">
        <li class="tag">1v1</li>
        <li class="tag">2v2</li>
      </ul>

      <h6 class="genre">Combat</h6>
      <h4 class="title"> Super Smash Bros Ultimate</h4>
      <p>résumé du truc ou palmarès</p>
    </div>

    <div class="card_infos">
      <div class="info">
        <i class="fas fa-check"></i>
        <span>100</span>
      </div>
      <div class="info">
        <i class="fas fa-thumbs-up"></i>
        <span>200</span>
      </div>
      <div class="info">
        <i class="fas fa-comments"></i>
        <span>33</span>
      </div>

    </div>
  </div>
</div>



{{>footer}}