<nav>
  <a href="#" class="nav-icon" aria-label="homepage" aria-current="page">
    <img class="img-icon" src="../ressources/coupe.webp" alt="coupe">
    <span class="title">Mon Tournoi</span>
  </a>
  <div class="main nav-links ">
    <a href="#">Les Jeux</a>
    <a href="#">Les Tournois</a>
    <a href="#">Cherche une Team</a>
  </div>


  <div class="nav-login">
    <button class="user-button"> <img src="../ressources/user.webp" height="25" width="20" />
    </button>
    <div id="sub-login" class="sub-content">
      <a href="#">Connection</a>
      <a href="#">Inscription</a>
    </div>
  </div>


</nav>